body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    background-color: gray; 
}

div {
    margin-top: 50px;
    margin-left: 50px;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
